{% extends "layout.html" %} {% block title %}
<title>Home</title>
{% endblock %} {% block content %}
<section class="container">
    <div class="row">
        <h1>transferathor</h1>
        <div class="col s4">
                
            <form action="result" class="uploadpic" method="post" enctype="multipart/form-data">
                <input type="text" placeholder="mail send"/>
                <input type="text" placeholder="mail recep"/>
                <a class="linkNav upload">
                    <label for="fileToUpload" class="btn">upload your image</label>
                    <input name="fileToUpload" id="fileToUpload" class="input-file hidden" type="file"/>
                </a>
                <p id="save-file"></p>
                <input type="submit" id="validate" value="Go" name="submit" class="btn">
            </form>
            <p id='result'></p>
        </div>
    </div>
</section>
{% endblock %}