html { 
    background: url("../styles/icons/bk.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.container{
    position: relative;
}

.nav-wrapper {
    background-color: $bckgrndclr;
    position: fixed;
}

.page-footer {
    background-color: $bckgrndclr;
    position: fixed;
    width: 100%;
    // bottom: 0;
}